{% load thumbnail %}
{% block title %}Blog detail{% endblock title %}
    <div class="row my-3 p-3">
        <h1>Title :- {{objs.title}}</h1>
        author = {{objs.author}}
        
        {% thumbnail objs.photo "100x100" crop="center" as im %}
            <img src="{{ objs.main_picture.url }}" width="{{ objs.main_picture.width }}" height="{{ objs.main_picture.height }}">
        {% endthumbnail %}
                    
        <!-- {% thumbnail objs.photo "100x100" crop="center" as im %}
        <img src="{{ objs.photo.url }}" width=50 height=100>
        {% endthumbnail %} -->
    </div>

    <form action='{% url 'like_post' objs.id %}' method="POST">
        {% csrf_token %}
        <button type="submit",name="post_id",value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    </form>